body {
  background-image: url("./galaxy_background.avif");
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #0077cc;
  color: #fff;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.headerText {
  font-family: "Star Jedi", sans-serif;
  font-size: 2rem;
  color: #ffe81f;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, #000 50%, transparent);
}

.intro-text {
  width: 100%;
  font-family: "Star Jedi", sans-serif;
  font-size: 2rem;
  color: #ffe81f;
  text-align: center;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  white-space: pre-wrap;
  animation-fill-mode: backwards;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, transparent, #000 50%, transparent);
}

.intro-text-container {
  height: 100vh;
  display: flex;
  justify-content: flex-start; /* Align text to the start/bottom */
  align-items: flex-end; /* Align items to the bottom */
  position: relative; /* Set position relative for child positioning */
}

.scrolling {
  animation: scroll 20s linear infinite;
}

select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-right: 1rem;
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: calc(-100% + 3rem);
  }
}
